body {
  background-color: #f7f7f8;
}
.main {
  padding: 0.32rem 0.32rem 2.13333333rem;
}
.pannel {
  margin-bottom: 0.26666667rem;
  background-color: #fff;
  border-radius: 0.13333333rem;
}
.text-danger {
  color: #cf4444;
}
.user-info {
  display: flex;
  align-items: center;
  padding: 0.4rem 0 0.4rem 0.29333333rem;
}
.user-info .location {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.26666667rem;
  background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
  border-radius: 50%;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
}
.user-info .user {
  flex: 1;
}
.user-info .user .contact {
  display: flex;
}
.user-info .user .contact h5 {
  width: 1.46666667rem;
  font-size: 0.4rem;
  font-weight: 400;
}
.user-info .user .contact p {
  font-size: 0.34666667rem;
}
.user-info .user .address {
  margin-top: 0.13333333rem;
  font-size: 0.32rem;
}
.user-info .edit {
  width: 1.17333333rem;
  height: 1.17333333rem;
  text-align: center;
  line-height: 1.17333333rem;
  color: #808080;
}
.goods {
  display: flex;
  padding: 0.29333333rem 0 0.29333333rem 0.29333333rem;
}
.goods .pic {
  width: 2.26666667rem;
  height: 2.26666667rem;
  margin-right: 0.26666667rem;
}
.goods .info {
  flex: 1;
}
.goods .info h5 {
  font-size: 0.34666667rem;
  color: #262626;
  font-weight: 400;
}
.goods .info p {
  width: 2.53333333rem;
  height: 0.53333333rem;
  margin: 0.13333333rem 0;
  background-color: #f7f7f8;
  font-size: 0.32rem;
  color: #888;
}
.goods .info p span:first-child {
  margin-right: 0.13333333rem;
}
.goods .info .price {
  font-size: 0.32rem;
}
.goods .info .price i {
  font-size: 0.42666667rem;
}
.goods .info .price span:last-child {
  margin-left: 0.13333333rem;
  color: #999;
  text-decoration: line-through;
}
.goods .count {
  width: 1.17333333rem;
  height: 1.17333333rem;
  text-align: center;
  line-height: 1.17333333rem;
  font-size: 0.42666667rem;
}
.payment {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.02666667rem solid #ededed;
  padding: 0 0.26666667rem;
  box-sizing: border-box;
  height: 2.13333333rem;
  width: 100%;
  background-color: #fff;
}
.payment .money {
  font-size: 0.32rem;
}
.payment .money i {
  font-size: 0.53333333rem;
}
.payment .pay a {
  display: block;
  width: 2.42666667rem;
  height: 0.93333333rem;
  background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
  border-radius: 0.08rem;
  text-align: center;
  line-height: 0.93333333rem;
  font-family: MicrosoftYaHei;
  font-size: 0.34666667rem;
  color: #fff;
}
