@import url(base.less);

body {
    background-color: #f7f7f8;
}

.main {
    padding: (12/@vw) (12/@vw) (80/@vw);
}

.pannel {
    margin-bottom: (10/@vw);
    background-color: #fff;
    border-radius: (5/@vw);
}

.text-danger {
    color: #cf4444;
}

.user-info {
    display: flex;
    align-items: center;
    padding: (15/@vw) 0 (15/@vw) (11/@vw);

    .location {
        width: (30/@vw);
        height: (30/@vw);
        margin-right: (10/@vw);
        background-image: linear-gradient(90deg,
                #6fc2aa 5%,
                #54b196 100%);
        border-radius: 50%;
        text-align: center;
        line-height: (30/@vw);
        color: #fff;
    }

    .user {
        flex: 1;

        .contact {
            display: flex;

            h5 {
                width: (55/@vw);
                font-size: (15/@vw);
                font-weight: 400;
            }
        }

        .contact p {
            font-size: (13/@vw);
        }

        .address {
            margin-top: (5/@vw);
            font-size: (12/@vw);
        }
    }

    .edit {
        width: (44/@vw);
        height: (44/@vw);
        text-align: center;
        line-height: (44/@vw);
        color: #808080;
    }
}

.goods {
    display: flex;
    padding: (11/@vw) 0 (11/@vw) (11/@vw);

    .pic {
        width: (85/@vw);
        height: (85/@vw);
        margin-right: (10/@vw);
    }

    .info {
        flex: 1;

        h5 {
            font-size: (13/@vw);
            color: #262626;
            font-weight: 400;
        }

        p {
            width: (95/@vw);
            height: (20/@vw);
            margin: (5/@vw) 0;
            background-color: #f7f7f8;
            font-size: (12/@vw);
            color: #888;

            span:first-child {
                margin-right: (5/@vw);
            }
        }

        .price {
            font-size: (12/@vw);

            i {
                font-size: (16/@vw);
            }

            span:last-child {
                margin-left: (5/@vw);
                color: #999;
                text-decoration: line-through;
            }
        }
    }

    .count {
        width: (44/@vw);
        height: (44/@vw);
        text-align: center;
        line-height: (44/@vw);
        font-size: (16/@vw);
    }
}

.payment {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: (1/@vw) solid #ededed;
    padding: 0 (10/@vw);
    box-sizing: border-box;
    height: (80/@vw);
    width: 100%;
    background-color: #fff;

    .money {
        font-size: (12/@vw);

        i {
            font-size: (20/@vw);
        }
    }

    .pay a {
        display: block;
        width: (91/@vw);
        height: (35/@vw);
        background-image: linear-gradient(90deg,
                #6fc2aa 5%,
                #54b196 100%);
        border-radius: (3/@vw);
        text-align: center;
        line-height: (35/@vw);
        font-family: MicrosoftYaHei;
        font-size: (13/@vw);
        color: #fff;
    }
}